@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
  /* monospace; */
  background-color: #fffff0;
}

#header {
  width: 100%;
  height: 80vh;
  margin-top: 2rem;
}

#header h1 {
  margin: 0 0 0.2rem 0;
  font-size: 48px;
  font-weight: 700;
  color: rgb(232, 77, 77);
}

#header h2 {
  color: black;
  font-size: 24px;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: black;
  border: 2px solid #ede2c7;
  text-decoration: none;
}

#header .btn-get-started:hover {
  background: #ede2c7;
  border: 2px solid #ede2c7;
  color: black;
}

.text-center {
  color: black;
  margin: 2rem 0 0.4rem 0;
  text-decoration: wavy;
}

.header-img {
  text-align: right;
}

#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
